<div class="form-group" data-type="select">
	<label for="{prefix}_{field.key}">{field.label}
		<f:if condition="{field.required}"><span>*</span></f:if>
	</label>
	<f:if condition="{field.error}">
		<f:then>
			<f:form.select name="{field.key}"
						   class="form-control is-invalid"
						   id="{prefix}_{field.key}"
						   options="{field.options}"
						   value="{field.value}"/>
			<div class="invalid-feedback">{field.error}</div>
		</f:then>
		<f:else>
			<f:if condition="{field.value}">
				<f:then>
					<f:form.select name="{field.key}"
								   class="form-control is-valid"
								   id="{prefix}_{field.key}"
								   options="{field.options}"
								   value="{field.value}" />
				</f:then>
				<f:else>
					<f:form.select name="{field.key}"
								   class="form-control"
								   options="{field.options}"
								   id="{prefix}_{field.key}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</div>
