<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
    <div role="main" class="main container p-0">
        <section id="main-head" class="banner-container">
            <div class="d-flex">
                <f:render partial="LeftNavigation" arguments="{_all}" />
                <f:for each="{Slider}" as="sliderContentElement">
                    <div id="slider" class="slider-element dark py-5" style="background-image:url(/fileadmin{sliderContentElement.BackgroundImages.0.originalFile.identifier}); background-size: cover;">
                        <div class="bg-overlay"></div>
                        <div class="banner-title">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <f:render partial="breadcumbs" arguments="{_all}" />
                                        <h2 class="h2-heading display-2">{sliderContentElement.data.header}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>              
        </section>

        <section id="main-category" class="mb-5">
            <div class="container">
                <div class="row heading-block border-bottom-0 mb-5 center">
                    <div class="col-lg-12">
                        <f:for each="{ArticleSectionText}" as="ArticleSectionTextContent">
                            <h2 class="text-center text-5 mb-4 mt-4">{ArticleSectionTextContent.data.header}</h2>
                            <div id="main-text">
                                <f:format.html>{ArticleSectionTextContent.data.bodytext}</f:format.html>
                            </div>
                        </f:for> 
                    </div>
                </div>
            </div>
        </section>

        
    </div><!-- End Main -->

    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />

</f:section>
