{namespace modules = CodingMs\Modules\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<modules:variable.set name="languageKey" value="tx_modules_label.list_{list.underscoredId}_action_{action}" />
<modules:be.editInModalLink table="{list.table}"
                     uid="{listItem.uid}"
                     action="edit"
                     title="{f:translate(key: languageKey)}"
                     class="btn btn-default {options.css}">
    <core:icon identifier="actions-document-open"/></modules:be.editInModalLink>
